<section>
  <div class="container">
    <div class="create-cart">
      <div>
        <h1 class="products__title">Crear Tarjeta</h1>
        <form  [formGroup]="formGroup" class="create-cart__form" (submit)="submit()">
            <label>Nombre</label>
            <input type="text" name="" formControlName="name">
            <label>Numero de tarjeta</label>
            <input type="text" name="" formControlName="number">
            <div class="create-cart__form__date-container">
              <div class="create-cart__form__date-container__date">
                <label>Mes</label>
                <select type="text" name="" formControlName="month">
                  <option value="01">01</option>
                  <option value="02">02</option>
                  <option value="03">03</option>
                  <option value="04">04</option>
                  <option value="05">05</option>
                  <option value="06">06</option>
                  <option value="07">07</option>
                  <option value="08">08</option>
                  <option value="09">09</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                </select>
              </div>
              <div class="create-cart__form__date-container__date">
                <label>Año</label>
                <select type="text" name="" formControlName="year">
                  <option value="2027">2027</option>
                  <option value="2028">2028</option>
                  <option value="2029">2029</option>
                  <option value="2030">2030</option>
                  <option value="2031">2031</option>
                  <option value="2032">2032</option>
                </select>
              </div>
            </div>

            <label>CVC</label>
            <input type="text" name="" formControlName="cvc">

            <label>Tipo</label>
            <select>
              <option vale="debito">Debito</option>
              <option vale="credito">Credito</option>
            </select>
            <button type="submit" class="checkout__button">Crear</button>
        </form>
      </div>
    </div>
  </div>
</section>
