<div class="nab-var admin">
  <div class="container">
    <ul class="nab-var_items">
      <li>
        <img src="assets/header-icon.png" height="60" width="90">
      </li>
      <li>
        <a routerLink="/credit-cart/create">Crear Tarjeta</a>
      </li>
      <li>
        <a routerLink="/credit-cart/list">Lista de Tarjetas</a>
      </li>
      <li>
        <a routerLink="/">Lista de transacciones</a>
      </li>
      <li>
        <a routerLink="/">Modulo Market Place</a>
      </li>
    </ul>
  </div>
</div>
<router-outlet></router-outlet>
